{% extends 'layout.html' %}

{% block content %}

        <h2>Buy shares</h2>
        <div>
            Your brokr bucks balance: ${{ current_user.balance | currency }}
        </div>
        <div>
            The current price is {{ current_price }} per share.  How many shares do you want to buy?
        </div>
        <form action="{{ url_for('buy_stock', symbol=symbol) }}" role="form" method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="form-group col-sm-3">
                    {{ form.shares(class="form-control", placeholder="shares") }}
                    {% for error in form.errors.shares %}
                    <span class="error-mssg">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="col-sm-1">
                    &times;
                </div>
                <div class="col-sm-4" id="current">
                    {{ current_price }}
                </div>
                <div class="col-sm-1">
                    =
                </div>
                <div class="col-sm-3" id="total">
                </div>
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

{% endblock %}