{%  extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to stockbrokr</h1>
            <h2>Get ready to buy and sell!!</h2>
            {% if not session.logged_in %}
                <p>Register for a stockbrokr account and receive $10,000 free brokrbucks.</p>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Register</a></p>
            {% else %}
                <p>Welcome back</p>
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('portfolio') }}">Visit portfolio</a></p>
            {% endif %}
        </div>
    </div>

{% endblock %}