{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h2>Portfolio</h2>
        <div>
            <h4>BrokrBucks balance: ${{ user.balance | currency }}<h4>
        </div>

        {% if user.portfolio %}

        <table class="table">
            <tr class="active">
                <th>Stock name</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Purchase price</th>
                <th>Current price</th>
                <th>Current Value</th>
                <th></th>
                <th></th>
            </tr>
            {% for stock in user.portfolio %}
            <tr>
                <td>-</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.purchase_price | currency }}</td>
                <td>{{ stock.current_price | currency }} </td>
                <td>{{ (stock.shares * stock.current_price) | currency }}</td>
                <td><a href="#">Buy</a></td>
                <td><a href="#">Sell</a></td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>Your portfolio is empty.  Go <a href="{{ url_for('lookup_stock') }}">buy</a> some stocks!</p>
        {% endif %}

    </div>

{% endblock %}