{% extends 'layout.html' %}

{% block content %}
        <h2>Portfolio</h2>
        <div>
            <h4>BrokrBucks balance: ${{ current_user.balance | currency }}<h4>
        </div>

        {% if current_user.portfolio %}

        <table class="table portfolio-table">
            <tr class="active">
                <th>Stock name</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Purchase price</th>
                <th>Current price</th>
                <th>Gains / Losses</th>
                <th>Current total value</th>
                <th></th>
                <th></th>
            </tr>
            {% for stock in current_user.portfolio %}
            <tr>
                <td>-</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.purchase_price | currency }}</td>
                <td>{{ stock.current_price | currency }} </td>
                <td>{{ (stock.current_price - stock.purchase_price) | currency }}</td>
                <td>{{ (stock.shares * stock.current_price) | currency }}</td>
                <td><a href="#">Buy</a></td>
                <td><a href="{{ url_for('sell_stock', symbol=stock.symbol) }}">Sell</a></td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
            <p>Your portfolio is empty.  Go <a href="{{ url_for('lookup_stock') }}">buy</a> some stocks!</p>
        {% endif %}
{% endblock %}